!!!
%html
  %head
    %title AskMSR
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/slidy.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/local.css'}
    %script{:src => 'resources/slidy.js', :charset => 'utf-8', :type => 'text/javascript'}

  %body
    .slide
      %h1 An Analysis of the AskMSR Question-Answering System
      %h3 Eric Brill, Susan Dumais and Michele Banko
      %h4 Microsoft Research
      %span.topline presented by Brian Stack {bis12@case.edu}
      

    .slide
      %h1 Introduction
    .slide
      %h1 Main Result
    .slide
      %h1 Methodology
    .slide
      %h1 Implementation
      :textile
        (1) *Bjorn Borg* blah blah *Wimbledon* blah blah *5* blah
        (2) *Wimbledon* blah blah blah *Bjorn Borg* blah *37* blah.
        (3) blah *Bjorn Borg* blah blah *5* blah blah *Wimbledon*
        (4) *5* blah blah *Wimbledon* blah blah *Bjorn Borg*.

    .slide
      %h1 Data
    .slide
      %h1 Results
    .slide
      %h1 Critique
    .slide
      %h1 Future Work
